@model ProjetoAssistenciaTecnicaWeb.Models.ViewModels.FuncionarioFormViewModel

@{
    ViewData["Title"] = "Create";
}

@section Styles {
    <link rel="stylesheet" href="~/css/FuncionariosCreate.css" />
}

<div class="pagina-principal">
    <div class="pagina">

        <h1>Novo Funcionário</h1>
        <h4>Dados do Funcionário</h4>

        <form asp-action="Create">

            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="general-infos">

                <div class="personal-info">
                    <label asp-for="Funcionario.Nome"></label>
                    <input asp-for="Funcionario.Nome" />
                    <span asp-validation-for="Funcionario.Nome" class="text-danger"></span>
                </div>

                <div class="personal-info">
                    <label asp-for="Funcionario.CPF_CNPJ"></label>
                    <input asp-for="Funcionario.CPF_CNPJ" />
                    <span asp-validation-for="Funcionario.CPF_CNPJ" class="text-danger"></span>
                </div>

                <div class="personal-info">
                    <label asp-for="Funcionario.Telefone"></label>
                    <input asp-for="Funcionario.Telefone" />
                    <span asp-validation-for="Funcionario.Telefone" class="text-danger"></span>
                </div>

                <div class="personal-info">
                    <label asp-for="Funcionario.Email"></label>
                    <input asp-for="Funcionario.Email" />
                    <span asp-validation-for="Funcionario.Email" class="text-danger"></span>
                </div>

                <div class="personal-info">
                    <label asp-for="Funcionario.DataNascimento"></label>
                    <input asp-for="Funcionario.DataNascimento" type="date" />
                    <span asp-validation-for="Funcionario.DataNascimento" class="text-danger"></span>
                </div>

                <h4>Endereço</h4>

                <div class="dados-endereco">

                    <div class="campo">
                        <label asp-for="Endereco.Cep"></label>
                        <input asp-for="Endereco.Cep" id="cep" />
                        <span asp-validation-for="Endereco.Cep" class="text-danger"></span>
                    </div>

                    <div class="campo">
                        <label>&nbsp;</label>
                        <button type="button" id="buscarCep" class="btn-primary">
                            Buscar CEP
                        </button>
                    </div>

                    <div class="campo">
                        <label asp-for="Endereco.Estado"></label>
                        <input asp-for="Endereco.Estado" id="estado" />
                        <span asp-validation-for="Endereco.Estado" class="text-danger"></span>
                    </div>

                    <div class="campo">
                        <label asp-for="Endereco.Municipio"></label>
                        <input asp-for="Endereco.Municipio" id="cidade" />
                        <span asp-validation-for="Endereco.Municipio" class="text-danger"></span>
                    </div>

                    <div class="campo">
                        <label asp-for="Endereco.Rua"></label>
                        <input asp-for="Endereco.Rua" id="rua" />
                        <span asp-validation-for="Endereco.Rua" class="text-danger"></span>
                    </div>

                    <div class="campo">
                        <label asp-for="Endereco.Bairro"></label>
                        <input asp-for="Endereco.Bairro" id="bairro" />
                        <span asp-validation-for="Endereco.Bairro" class="text-danger"></span>
                    </div>

                    <div class="campo">
                        <label asp-for="Endereco.Complemento"></label>
                        <input asp-for="Endereco.Complemento" />
                        <span asp-validation-for="Endereco.Complemento" class="text-danger"></span>
                    </div>

                    <div class="campo">
                        <label asp-for="Endereco.NCasa"></label>
                        <input asp-for="Endereco.NCasa" />
                        <span asp-validation-for="Endereco.NCasa" class="text-danger"></span>
                    </div>
            </div>

            <div class="categoria>
                <div class="campo">
                    <label asp-for="Funcionario.Categoria"></label>
                    <input asp-for="Funcionario.Categoria" />
                    <span asp-validation-for="Funcionario.Categoria"></span>
                </div>
            </div>

            <div class="form-group">
                <input type="submit" value="Salvar Funcionário" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Voltar</a>
</div>

@section Scripts {

    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }

    <script>
        document.getElementById("buscarCep")
            .addEventListener("click", function () {

                let cep = document.getElementById("cep")
                    .value
                    .replace(/\D/g, '');

                if (cep.length != 8) {
                    alert("CEP inválido");
                    return;
                }

                fetch(`https://viacep.com.br/ws/${cep}/json/`)
                    .then(response => response.json())
                    .then(data => {

                        if (data.erro) {
                            alert("CEP não encontrado");
                            return;
                        }

                        document.getElementById("rua").value = data.logradouro;
                        document.getElementById("bairro").value = data.bairro;
                        document.getElementById("cidade").value = data.localidade;
                        document.getElementById("estado").value = data.uf;

                    })
                    .catch(error => {
                        console.error(error);
                        alert("Erro ao buscar CEP.");
                    });
            });
    </script>
}
