* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #181818;
    font-family: Arial, sans-serif;
    color: white;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px;
}

.pagina-principal {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 20px;
}

.pagina-cadastro {
    background-color: #181818;
    width: 45%;
    padding: 20px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    box-shadow: 0 0 25px rgba(0,0,0,0.5);
}


.formulario {
    width: 100%;
    max-width: 1000px;
    padding: 20px;
}

.general-infos {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
    margin-bottom: 40px;
}

.personal-info {
    display: flex;
    flex-direction: column;
    gap: 6px;
}

input,
select {
    height: 35px;
    padding: 6px 100px;
    background-color: #2a2a2a;
    color: white;
    border-radius: 10px;
    border: none;
}

    input::placeholder {
        color: #525252;
    }


/*-----------------ENDEREÇO------------------*/

.linha-endereco {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    margin-bottom: 15px;
}

.linha-cep {
    display: grid;
    grid-template-columns: 1fr auto;
    gap: 15px;
    margin-bottom: 15px;
    align-items: end;
}

.campo {
    display: flex;
    flex-direction: column;
}

    .campo label {
        margin-bottom: 5px;
    }

    .campo input,
    .campo select {
        width: 100%;
        padding: 10px;
        border-radius: 10px;
        border: none;
    }

.botao-cep {
    padding: 8px 15px;
    border-radius: 10px;
    background: #0b3d1b;
    color: white;
    border: none;
    cursor: pointer;
}

.botoes {
    display: flex;
    justify-content: space-evenly;
    gap: 10px;
}

.botao-salvar {
    padding: 8px 80px;
    border-radius: 10px;
    background: #0b3d1b;
    color: white;
    border: none;
    cursor: pointer;
}

.botao-editar {
    padding: 8px 30px;
    border-radius: 10px;
    background: #0b3d1b;
    color: white;
    border: none;
    cursor: pointer;
}

.botao-deletar {
    padding: 8px 30px;
    border-radius: 10px;
    background: #0b3d1b;
    color: white;
    border: none;
    cursor: pointer;
}

/*-----------BUSCA------------------*/

.pagina-busca {
    background-color: #181818;
    color: white;
    width: 45%;
    padding: 20px;
    border-radius: 20px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    box-shadow: 0 0 25px rgba(0,0,0,0.5);
    gap: 10px
}

.busca-pecas {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.codigos {
    width: 70px;
}

.linha-busca {
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: end;
}

.campo-1 {
    display: flex;
    flex-direction: column;
}

.campo-2 {
    display: flex;
    flex-direction: column;
}

.botao-buscar {
    padding: 8px 15px;
    border-radius: 10px;
    background: #0b3d1b;
    color: white;
    border: none;
    cursor: pointer;
}


input,
select {
    width: 100%;
    height: 35px;
    padding: 6px 10px;
    background-color: #2a2a2a;
    color: white;
    border-radius: 10px;
    border: none;
}
