* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #027023;
    font-family: Arial, sans-serif;
    color: white;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.pagina {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.formulario {
    width: 100%;
    max-width: 1000px;
    padding: 20px;
}

.linha-principal {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
    margin-bottom: 40px;
}

.grupo-campo {
    display: flex;
    flex-direction: column;
    gap: 6px;
}

input,
select {
    height: 35px;
    padding: 6px 10px;
    background-color: #92c3a0;
    color: white;
    border-radius: 15px;
    border: none;
}

    input::placeholder {
        color: #525252;
    }


.botao {
    height: 40px;
    padding: 0 20px;
    background-color: #1b2e1c;
    color: rgb(255, 255, 255);
    border: none;
    border-radius: 15px;
    cursor: pointer;
}

.secao-endereco {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 18px;
}

.linha-endereco {
    display: flex;
    align-items: center;
    gap: 20px;
    align-items: end;
}

.linha-cep {
    align-items: end;
}

.grupo-campo.pequeno {
    width: 250px;
}

.grupo-campo.medio {
    width: 180px;
}

.grupo-campo.grande {
    flex: 1;
}
