@model ProjetoAssistenciaTecnicaWeb.Models.ViewModels.OrdemServicoFormViewModel

@{
    ViewData["Title"] = "Editar";
}
@section Styles {
    <link rel="stylesheet" href="~/css/OrdemEdit.css" />
}

<h1>Editar Ordem de Serviço</h1>

<h4>Ordem de Serviço</h4>
<hr />
<div class="pagina-principal">
    <div class="pagina">
        <form asp-action="Edit">
            <input type="hidden" asp-for="OrdemServico.IdOrdemServico"/>
            <input type="hidden" asp-for="OrdemServico.Tick"/>
            <input type="hidden" asp-for="OrdemServico.NumeroAtendimento"/>
            <input type="hidden" asp-for="OrdemServico.DataAbertura"/>
            <input type="hidden" asp-for="OrdemServico.IdOrcamentoInicial"/>

            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="general-infos">
                <label asp-for="OrdemServico.ClienteId"></label>
                <select asp-for="OrdemServico.ClienteId" asp-items='@(new SelectList(Model.Clientes, "IdCliente", "Nome"))' class="form-control">
                    <option value="">Selecione um cliente</option>
                </select>
            </div>
            <div class="general-infos">
                <label asp-for="OrdemServico.ProdutoId"></label>
                <select asp-for="OrdemServico.ProdutoId" asp-items='@(new SelectList(Model.Produtos, "IdProduto", "Modelo"))' class="form-control">
                    <option value="">Selecione um produto</option>
                </select>
            </div>
            <div class="general-infos">
                <label asp-for="OrdemServico.Defeito" class="control-label"></label>
                <input asp-for="OrdemServico.Defeito" class="form-control" />
                <span asp-validation-for="OrdemServico.Defeito" class="text-danger"></span>
            </div>
            <div class="general-infos">
                <label asp-for="OrdemServico.Acessorios" class="control-label"></label>
                <input asp-for="OrdemServico.Acessorios" class="form-control" />
                <span asp-validation-for="OrdemServico.Acessorios" class="text-danger"></span>
            </div>
            <div class="general-infos">
                <label asp-for="OrdemServico.Status" class="control-label"></label>
                <input asp-for="OrdemServico.Status" class="form-control" />
                <span asp-validation-for="OrdemServico.Status" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Salvar" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Voltar</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
