﻿@{
    ViewData["Title"] = "Pesquisa";
}
@section Styles {
    <link rel="stylesheet" href="~/css/OrdemIndex.css" />
}

<div class="pagina-principal">

    <div class="pagina_menus">

        <h1 class="titulo">Ordem de Serviços</h1>

        <div class="botoes-menus">
            <a asp-action="Create" class="botao-salvar">Criar Novo</a>
        </div>

        <form class="formulario" asp-action="Find">
            <div class="general-infos">
                <div class="filtro-infos">
                   <label for="nome" class="col-lg-2 control-label">Número de Atendimento</label>
                   <input type="text" name="numeroAtendimento" class="form-control" />
                 </div>
                <div class="filtro-infos">
                    <label for="nome" class="col-lg-2 control-label">Data</label>
                    <input type="date" name="dataAbertura" class="form-control" />
                 </div>
                <div>
                    <button type="submit" class="botao-filtro">Buscar</button>
                </div>
            </div>
        </form>
</div>