﻿@{
ViewData["Title"] = "Busca";
}

<h2>@ViewData["Title"]</h2>
<div class="row">
    <div class="col-md-6">
        <form class="form-horizontal" asp-action="Busca">
            <fieldset>
                <legend>Simple search</legend>
                <div class="form-group">
                    <label for="nome" class="col-lg-2 control-label">Nome</label>
                    <div class="col-lg-10">
                        <input type="text" name="nome" class="form-control" />
                    </div>
                </div>
            </fieldset>
        </form>
    </div>
</div>
