@model ProjetoAssistenciaTecnicaWeb.Models.ViewModels.ClienteFormViewModel

@{
    ViewData["Title"] = "Editar";
}
@section Styles {
    <link rel="stylesheet" href="~/css/ClientesEdit.css" />
}

<h1>Editar Cliente</h1>

<hr/>
<div class="pagina-principal">
    <div class="pagina">

        <form asp-action="Edit">
            <input type="hidden" asp-for="Cliente.IdCliente"/>
            <input type="hidden" asp-for="Cliente.EnderecoId"/>
            <input type="hidden" asp-for="Cliente.DataCadastro"/>
            <input type="hidden" asp-for="Endereco.IdEndereco"/>

            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="general-infos">
                <div class="personal-info">
                    <label asp-for="Cliente.Nome" class="control-label"></label>
                    <input asp-for="Cliente.Nome" class="form-control" />
                    <span asp-validation-for="Cliente.Nome" class="text-danger"></span>
                </div>
                <div class="personal-info">
                    <label asp-for="Cliente.CPF_CNPJ" class="control-label"></label>
                    <input asp-for="Cliente.CPF_CNPJ" class="form-control" />
                    <span asp-validation-for="Cliente.CPF_CNPJ" class="text-danger"></span>
                </div>
                <div class="personal-info">
                    <label asp-for="Cliente.Telefone" class="control-label"></label>
                    <input asp-for="Cliente.Telefone" class="form-control" />
                    <span asp-validation-for="Cliente.Telefone" class="text-danger"></span>
                </div>
                <div class="personal-info">
                    <label asp-for="Cliente.Email" class="control-label"></label>
                    <input asp-for="Cliente.Email" class="form-control" />
                    <span asp-validation-for="Cliente.Email" class="text-danger"></span>
                </div>
                <div class="personal-info">
                    <label asp-for="Cliente.DataNascimento" class="control-label"></label>
                    <input asp-for="Cliente.DataNascimento" class="form-control" />
                    <span asp-validation-for="Cliente.DataNascimento" class="text-danger"></span>
                </div>

                <div class="dados-endereco">

                    <div class="personal-info">
                        <label asp-for="Endereco.Cep" class="control-label"></label>
                        <input asp-for="Endereco.Cep" id="cep" class="form-control" />
                        <span asp-validation-for="Endereco.Cep" class="text-danger"></span>
                    </div>
                        <button type="button" id="buscarCep" class="btn btn-primary">Buscar</button>
                    <div class="personal-info">
                        <label asp-for="Endereco.Estado" class="control-label"></label>
                        <input asp-for="Endereco.Estado" id="estado" class="form-control" />
                        <span asp-validation-for="Endereco.Estado" class="text-danger"></span>
                    </div>
                    <div class="personal-info">
                        <label asp-for="Endereco.Municipio" class="control-label"></label>
                        <input asp-for="Endereco.Municipio" id="cidade" class="form-control" />
                        <span asp-validation-for="Endereco.Municipio" class="text-danger"></span>
                    </div>
                    <div class="personal-info">
                        <label asp-for="Endereco.Rua" class="control-label"></label>
                        <input asp-for="Endereco.Rua" id="rua" class="form-control" />
                        <span asp-validation-for="Endereco.Rua" class="text-danger"></span>
                    </div>
                    <div class="personal-info">
                        <label asp-for="Endereco.Bairro" class="control-label"></label>
                        <input asp-for="Endereco.Bairro" id="bairro" class="form-control" />
                        <span asp-validation-for="Endereco.Bairro" class="text-danger"></span>
                    </div>
                    <div class="personal-info">
                        <label asp-for="Endereco.Complemento" class="control-label"></label>
                        <input asp-for="Endereco.Complemento" class="form-control" />
                        <span asp-validation-for="Endereco.Complemento" class="text-danger"></span>
                    </div>
                    <div class="personal-info">
                        <label asp-for="Endereco.NCasa" class="control-label"></label>
                        <input asp-for="Endereco.NCasa" class="form-control" />
                        <span asp-validation-for="Endereco.NCasa" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group">
                    <input type="submit" value="Salvar" class="btn btn-primary" />
                </div>
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Voltar</a>
</div>

@section Scripts {

    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }

    <script>

        document.getElementById("buscarCep")
            .addEventListener("click", function () {

            let cep = document.getElementById("cep")
                .value
                .replace(/\D/g, '');

            if (cep.length != 8) {
                alert("CEP inválido");
                return;
            }

            fetch(`https://viacep.com.br/ws/${cep}/json/`)
                .then(response => response.json())
                .then(data => {

                    if (data.erro) {
                        alert("CEP não encontrado");
                        return;
                    }

                    document.getElementById("rua").value = data.logradouro;
                    document.getElementById("bairro").value = data.bairro;
                    document.getElementById("cidade").value = data.localidade;
                    document.getElementById("estado").value = data.uf;

                })
                .catch(error => {
                    console.log(error);
                });

        });

    </script>
}
