﻿@{
ViewData["Title"] = "Pesquisa";
}

@section Styles {
    <link rel="stylesheet" href="~/css/ClientesIndex.css" />
}

<div class="pagina-principal">

    <div class="pagina_menus">

        <h1 class="titulo">Clientes</h1>

        <div class="botoes-menus">
            <a asp-action="Create" class="botao-salvar">Criar Novo</a>
        </div>
        <form class="formulario" asp-action="Find">

            <div class="general-infos">

                <div class="filtro-infos">
                    <label for="nome">Nome:</label>
                    <input type="text" id="nome">
                </div>

                <div class="filtro-infos">
                    <label for="CPF">CPF:</label>
                    <input type="text" id="cpf">
                </div>

                <div class="filtro-infos">
                     <label for="nome">Telefone</label>
                     <input type="text" name="telefone"/>
                </div>
             </div>

             <div>
                  <button type="submit"class="botao-filtro">Buscar</button>
              </div>
        </form>
    </div>