@model ProjetoAssistenciaTecnicaWeb.Models.ViewModels.PecaFormViewModel

@{
    ViewData["Title"] = "Create";
}
@section Styles {
    <link rel="stylesheet" href="~/css/PecasCreate.css" />
}

<div class="pagina-principal">
    <div class="pagina">

        <h1>Nova Peça</h1>
        <h4>Dados da peça</h4>

                <form asp-action="Create">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="general-infos">
                        <label asp-for="Peca.ValorCompra" class="control-label"></label>
                        <input asp-for="Peca.ValorCompra" class="form-control" />
                        <span asp-validation-for="Peca.ValorCompra" class="text-danger"></span>
                    </div>
                    <div class="general-infos">
                        <label asp-for="Peca.ValorRevenda" class="control-label"></label>
                        <input asp-for="Peca.ValorRevenda" class="form-control" />
                        <span asp-validation-for="Peca.ValorRevenda" class="text-danger"></span>
                    </div>
                    <div class="general-infos">
                        <label asp-for="Peca.Descricao" class="control-label"></label>
                        <input asp-for="Peca.Descricao" class="form-control" />
                        <span asp-validation-for="Peca.Descricao" class="text-danger"></span>
                    </div>
                    <div class="general-infos">
                        <label asp-for="Peca.Quantidade" class="control-label"></label>
                        <input asp-for="Peca.Quantidade" class="form-control" />
                        <span asp-validation-for="Peca.Quantidade" class="text-danger"></span>
                    </div>
                    <div class="personal-info">
                        <label asp-for="Peca.FuncionarioId"></label>
                        <select asp-for="Peca.FuncionarioId" asp-items='@(new SelectList(Model.Funcionarios, "IdFuncionario", "Nome"))' class="form-control">
                            <option value="">Selecione um funcionário</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <input type="submit" value="Salvar Peça" class="btn-primary" />
                    </div>
                </form>
        <div class="voltar">
            <a asp-action="Index">← Voltar para a lista</a>
        </div>
     </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
