@model ProjetoAssistenciaTecnicaWeb.Models.Peca

@{
    ViewData["Title"] = "Create";
}
@section Styles {
    <link rel="stylesheet" href="~/css/PecasCreate.css" />
}

<div class="pagina-principal">
    <div class="pagina">

        <h1>Nova Peça</h1>
        <h4>Dados da peça</h4>

                <form asp-action="Create">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="general-infos">
                        <label asp-for="ValorCompra" class="control-label"></label>
                        <input asp-for="ValorCompra" class="form-control" />
                        <span asp-validation-for="ValorCompra" class="text-danger"></span>
                    </div>
                    <div class="general-infos">
                        <label asp-for="ValorRevenda" class="control-label"></label>
                        <input asp-for="ValorRevenda" class="form-control" />
                        <span asp-validation-for="ValorRevenda" class="text-danger"></span>
                    </div>
                    <div class="general-infos">
                        <label asp-for="Descricao" class="control-label"></label>
                        <input asp-for="Descricao" class="form-control" />
                        <span asp-validation-for="Descricao" class="text-danger"></span>
                    </div>
                    <div class="general-infos">
                        <label asp-for="Quantidade" class="control-label"></label>
                        <input asp-for="Quantidade" class="form-control" />
                        <span asp-validation-for="Quantidade" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <input type="submit" value="Salvar Peça" class="btn-primary" />
                    </div>
                </form>
        <div class="voltar">
            <a asp-action="Index">← Voltar para a lista</a>
        </div>
     </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
