﻿@{
    ViewData["Title"] = "Pesquisa";
}
@section Styles {
    <link rel="stylesheet" href="~/css/PecasIndex.css" />
}

<div class="pagina-principal">

    <div class="pagina_menus">

        <h1 class="titulo">Peças</h1>

        <div class="botoes-menus">
            <a asp-action="Create" class="botao-salvar">Criar Novo</a>
        </div>

            <form class="formulario" asp-action="Find">
                <div class="general-infos">
                    <label for="nome" class="col-lg-2 control-label">Descrição</label>
                    <input type="text" name="descricao" class="form-control" />
                </div>
                <div>
                    <button type="submit" class="botao-filtro">Buscar</button>
                </div>
            </form>
    </div>
</div>