@{
}
@section Styles {
    <link rel="stylesheet" href="~/css/pecas.css" />
}
<div class="pagina-principal">

    <div class="pagina">
        <form class="formulario">

            <div class="general-infos">

                <div class="linha-peca">
                    <div class="pecas-info">
                        <label for="nome">Nome da Peça:</label>
                        <input type="text" id="nome">
                    </div>

                    <div class="pecas-info">
                        <label for="codigo">Código:</label>
                        <input type="text" id="codigo">
                    </div>
                </div>

                <div class="pecas-info">
                    <label for="custo">Custo Material:</label>
                    <input type="text" id="custo" placeholder="R$">
                </div>

                <div class="peca-info">
                    <label for="valor">Valor de Venda:</label>
                    <input type="text" id="valor" placeholder="R$">
                </div>

                    <button type="button" class="botao-cadastrar">Cadastrar</button>

            </div>

            <div class="lista-pecas">
                <div class="pecas-info">
                    <label for="nomes">Nome da Peça:</label>
                    <input type="text" id="nomes">
                </div>

                <div class="pecas-info">
                    <label for="codigos">Código da Peça:</label>
                    <input type="text" id="codigos">
                </div>


            </div>

        </form>
    </div>