@{
}
@section Styles {
    <link rel="stylesheet" href="~/css/pecas.css" />
}
<div class="pagina-principal">

    <div class="pagina">
        <form class="formulario">

            <div class="general-infos">

                <div class="pecas-info">
                    <label for="nome">Nome da Peça:</label>
                    <input type="text" id="nome">
                </div>

                <div class="pecas-info">
                    <label for="custo">Custo Material:</label>
                    <input type="text" id="custo" placeholder="R$">
                </div>

                <div class="peca-info">
                    <label for="valor">Valor de Venda:</label>
                    <input type="text" id="valor" placeholder="R$">
                </div>

                    <button type="button" class="botao-cadastrar">Cadastrar</button>

            </div>

        </form>
    </div>