@model ProjetoAssistenciaTecnicaWeb.Models.ViewModels.ProdutoFormViewModel

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Cliente</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Produto.Marca" class="control-label"></label>
                <input asp-for="Produto.Marca" class="form-control" />
                <span asp-validation-for="Produto.Marca" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Produto.Modelo" class="control-label"></label>
                <input asp-for="Produto.Modelo" class="form-control" />
                <span asp-validation-for="Produto.Modelo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Produto.NSerie" class="control-label"></label>
                <input asp-for="Produto.NSerie" class="form-control" />
                <span asp-validation-for="Produto.NSerie" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Produto.Condicao" class="control-label"></label>
                <input asp-for="Produto.Condicao" class="form-control" />
                <span asp-validation-for="Produto.Condicao" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Produto.ClienteId"></label>
                <select asp-for="Produto.ClienteId"
                        asp-items='@(new SelectList(Model.Clientes, "IdCliente", "Nome"))'
                        class="form-control">

                    <option value="">Selecione um cliente</option>
                </select>
            </div>

            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Voltar</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
