﻿@{
    ViewData["Title"] = "Pesquisa";
}
@section Styles {
    <link rel="stylesheet" href="~/css/ProdutoIndex.css" />
}

<div class="pagina-principal">

    <div class="pagina_menus">

        <h1 class="titulo">Podutos</h1>

        <div class="botoes-menus">
            <a asp-action="Create" class="botao-salvar">Criar Novo</a>
        </div>

        <form class="formulario" asp-action="Find">
            <div class="general-infos">
                <div class="filtro-infos">
                    <label for="nome">Modelo</label>
                     <input type="text" name="descricao"/>
                </div>
                <div>
                    <button type="submit" class="botao-filtro">Buscar</button>
                </div>
            </div>
        </form>
    </div>
</div>